    @media (min-width: 200px) {
        .banner {
            background-position: bottom;
        }
    }

    @media (min-width: 250px) {}

    @media (min-width: 340px) {}

    @media (min-width: 370px) {}

    @media (min-width: 400px) {}

    @media (min-width: 486px) {}

    @media (min-width: 500px) {}

    @media (min-width: 610px) {
        .banner {
            background-position: ;
        }
    }

    @media (min-width: 682px) {}

    @media (min-width: 800px) {}

    @media (min-width: 900px) {}

    @media (min-width: 1000px) {
        .banner .logo {
            text-align: left;
            margin-left: 213px;
        }

        .banner .Text1 {
            text-align: left;
            margin-left: 180px;
        }

        .banner .Text2 {
            text-align: left;
            width: 45%;
            margin-left: 30px;
        }

        .banner .Download {
            text-align: left;
            margin-left: 40px;
        }

        section {
            display: flex;
            align-items: center;
            padding: 50px 0px 50px 0px;
        }

        .se2 img {
            width: 75%;
        }

        .se1 {
            margin-left: 80px;
        }

        .ceo {
            display: flex;
            text-align: center;
        }

        .ceo section {
            width: 90%;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 25px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 60px 0px 60px 0px;
        }
        .langueges{
            width: 40%;
        }
    }