body{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --toggle-light: hsl(230, 22%, 74%);
    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    }
::selection{
    background: rgb(26, 118, 247);
    color: rgb(255, 255, 255);
}
header{
    background: linear-gradient(30deg,#06b0ff,#d519f5,#ff3b99);
    height: 80px;
    display: flex;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: fixed;
    width: 100%;
    margin-top: -120px;
    overflow-x: scroll;
    transition: 500ms;
}
p{
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(198deg, #ffeb3b, #ff22a7);
}
@keyframes wr {
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 100;
    }
}
.mains{
    margin-bottom: 30px;
}
.headbuttons{
    border: 2px solid;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 200ms;
    animation: lftori 2s;
}
.headbuttons:hover{
    border-bottom-width: 8px ;
}
@keyframes lftori {
    0%{
        margin-left: -1500px;
    }
    100%{
        margin-left: 5px;
    }
}
#b1{
    margin-left: 15px;
    animation: litori2;
}
@keyframes litori2 {
    0%{
        margin-left: -90px;
    }
    100%{
        margin-left: 15px;
    }
}
#b5{
    margin-right: 15px;
}
.card{
    width: 90%;
    margin: auto;
    padding: 20px 10px 20px 10px ;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 3px rgb(175, 175, 175);
    animation: card 1.5s;
}
@keyframes card {
    0%{
        margin-top: 100px;
        opacity: -1;
    }
    80%{
    }
    100%{
        margin-top: 30px;
        /* opacity: 100; */
    }
}
.card h2{
    color: #080808;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 8px 3px rgb(230 230 230);
    margin-bottom: 23px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #ff3e3e;
    transition: border 0.1s;
}
.card .ab{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.card .lang{
    margin-left: 15px;
    padding: 10px;
    background: rgb(71, 70, 70);
    color: white;
    width: fit-content;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}
.btns{
    display: flex;
    overflow-x: scroll;
    padding: 0px 0px 10px 0px;

}
.btns a{
    margin: 10px 10px 10px 10px ;;
    text-decoration: none;
    border: none;
    box-shadow: 0px 1px 5px 0px rgb(182, 179, 179);
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    margin-top: 20px;
    transition: 200ms;
}
.btns a:hover{
    box-shadow: 0px 1px 3px 0px rgb(182, 179, 179);
}
.about{
    text-align: center;
    padding: 20px;
}
.about img{
    width: 90px;
    height: 90px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px #adadaf;
}
.about a{
    color: rgb(45, 116, 247);
    text-decoration: none;
}
#abbt p{
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    margin-top: -15px;
}
#ol p{
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-weight: 600;
    margin-top: -15px;
}
#ol a{
    color:#03a9f4;
    text-decoration: underline;
}
.notp{
    text-align: center;
    font-size: 26px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgb(205, 205, 205);
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
.upnote{
    background: rgb(246, 246, 246);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgb(190, 190, 190);
}
.upnote p{
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
